// Material Theming

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/image-list/mdc-image-list";

// Body
body {
  padding: 4rem 2rem 2rem;
}

// Reset List Styles
.navList {
  list-style: none;
  height: 2rem;
  padding-left: 0;
}

// Style the list items side by side
.navListItem {
  display: inline-block;
  margin: 0 8px;
}

// Make the list items visible
.navListLink {
  color: white;
  display: inline-block;
}

// Update Collapse Width
.mdc-top-app-bar--short-collapsed.mdc-top-app-bar--short-has-action-item {
  width: 250px;
}

// Our own utility class to center these things
.centered {
  text-align: center;
}

// Image List
.imageList {
  @include mdc-image-list-masonry-columns(2);
}

@media (min-width: 599px) {
  .imageList {
    @include mdc-image-list-masonry-columns(4);
  }
}

@media (min-width: 1020px) {
  .imageList {
    @include mdc-image-list-masonry-columns(6);
  }
}